<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="login-form" method="post">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        {{message}}
    </div>
    <li>
        {% if message.tags %}
<div class="{{message.tags}}"></div>
        {% endif %}
    </li>
    {% endfor %}
    {% endif %}

    <input type="text" name="uname" placeholder="username">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button type="submit">REGISTER</button>

</form>

</body>
</html>